- content_for :jobs do
  #results.span12
    %h2= link_to "Ask HN: Who is hiring? (January 2013)", 'http://news.ycombinator.com/item?id=4992617'
    %table.table.table-hover
      %thead
        %tr
          %th#title= link_to 'Title', params.merge({ :sort => 'title' })
          %th#company= link_to 'Company', params.merge({ :sort => 'company' })
          %th#location= link_to 'Location', params.merge({ :sort => 'location' })
          %th#location= link_to 'Apply', params.merge({ :sort => 'apply' })
      %tbody
      - @jobs.each_with_index do |job, index|
        - apply_link = job.apply_link.is_a?(Hash) ? mail_to(job.apply_link["email"], 'Email', :target => "_blank") : link_to('Apply', job.apply_link, :target => "_blank")

        %tr.job{ :id => index, :href => job.description_link }
          %td.title{ :href => job.description_link }= job.title
          %td.name{ :href => job.description_link }= job.company.name if job.company.present?
          %td.location{ :href => job.description_link }= "#{ job.city }, #{ job.state }, #{ job.country }" 
          %td.apply= apply_link

- content_for :javascript do
  :javascript
    $(document).ready(function() {
 
      $("#results").on('click', 'td.title', function(event) {
        window.open($(this).attr('href'))
      });

      $("#results").on('click', 'td.name', function(event) {
        window.open($(this).attr('href'))
      });

      $("#results").on('click', 'td.location', function(event) {
        window.open($(this).attr('href'))
      });
 
    });