- content_for :left_panel do
  #criteria
    %br

    %table
      %tbody
        %tr
          %td#dropdowns
            = country_select_tag

  #results
    %table.table.table-hover
      %thead
        %tr
          %th#title= link_to 'Title', params.merge({ :sort => 'title', :job_asc => !@job_asc })
          %th#company= link_to 'Company', params.merge({ :sort => 'company', :comp_asc => !@comp_asc })
          %th#country= link_to 'Country', params.merge({ :sort => 'country' })
          %th#province_or_state= link_to 'Province/State', params.merge({ :sort => 'country' })
          %th#city= link_to 'City', params.merge({ :sort => 'company' })
      %tbody
      - @jobs.each do |job|
        %tr{ :href => job.apply_link }
          %td#title= link_to job.title, job.apply_link
          - # %span.badge.badge-info= 'Javascript'
          - # %span.badge.badge-info= 'MongoDB'
          - # %span.badge.badge-info= 'Rails'
          %td#company= link_to job.company.name if job.company.present?
          %td#country= "#{ job.country }"
          %td#province_or_state= "#{ job.province }"
          %td#city= "#{ job.city }"
          - deadline = job.deadline

- content_for :javascript do
  :javascript
    $(document).ready(function() {

      $("select#country").change(function() {
        if(this.value != "") {
          window.open(this.value, '_self', false)
        }
      });

    });