#newsletter
  #title= 'AceInterns'
  #heading= 'Get a Biweekly Newsletter of Awesome Internships'

  %table.table.table-hover
    %thead
      %tr
        %th#hacker Hacker
        %th#hustler Hustler
        %th#designer Designer
    %tbody
      - # code smell, move logic to controller
      - (0..12).each do |i|
        - hacker = @hackers[i]
        - hustler = @hustlers[i]

        - hacker = @hackers[i]
        - if hacker.present?
          - hacker_title = "#{ hacker.title } (#{ hacker.city }, #{ hacker.state })"
          - hacker_title.prepend "#{ hacker.company_name } - " if hacker && hacker.company_name.present?

        - hustler = @hustlers[i]
          - if hustler.present?
          - hustler_title = "#{ hustler.title } (#{ hustler.city }, #{ hustler.state })"
          - hustler_title.prepend "#{ hustler.company_name } - " if hustler && hustler.company_name.present?

        - designer = @designers[i]
        - if designer.present?
          - designer_title = "#{ designer.title } (#{ designer.city }, #{ designer.state })"
          - designer_title.prepend "#{ designer.company_name } - " if designer && designer.company_name.present?
        
        %tr
          %td
            = link_to hacker_title, hacker.apply_link if hacker.present?
          %td
            = link_to hustler_title, hustler.apply_link if hustler.present?
          %td
            = link_to designer_title, designer.apply_link if designer.present?

  #heading= "Any preferences?"
  %br
  #form-wrapper
    = form_for @newsletter_subscriber do |form|

      #level-wrapper
        .row
          = form.label "Junior        "
          = check_box_tag "newsletter_subscriber[job_level][]", 'junior'
        .row
          = form.label 'Intermediate'
          = check_box_tag "newsletter_subscriber[job_level][]", 'intermediate'
        .row
          = form.label 'Senior'
          = check_box_tag "newsletter_subscriber[job_level][]", 'senior'

      #canada
        .row
          = form.label 'Canada'
          = check_box_tag "newsletter_subscriber[job_location][]", 'canada_all'
        .row
          = form.label 'Toronto'
          = check_box_tag "newsletter_subscriber[job_location][]", 'canada_toronto'
        .row
          = form.label :jobs_interested_in, 'Waterloo'
          = check_box_tag "newsletter_subscriber[job_location][]", 'canada_waterloo'
        .row
          = form.label 'Vancouver'
          = check_box_tag "newsletter_subscriber[job_location][]", 'canada_vancouver'
        .row
          = form.label 'Ottawa'
          = check_box_tag "newsletter_subscriber[job_location][]", 'canada_ottawa'
        .row
          = form.label :jobs_interested_in, 'Montreal'
          = check_box_tag "newsletter_subscriber[job_location][]", 'canada_montreal'

      #usa
        .row
          = form.label :jobs_interested_in, 'USA'
          = check_box_tag "newsletter_subscriber[job_location][]", 'usa_all'
        .row
          = form.label 'California'
          = check_box_tag "newsletter_subscriber[job_location][]", 'usa_california'
        .row
          = form.label :jobs_interested_in, 'New York'
          = check_box_tag "newsletter_subscriber[job_location][]", 'usa_new_york'
        .row
          = form.label 'Florida'
          = check_box_tag "newsletter_subscriber[job_location][]", 'usa_florida'
        .row
          = form.label 'Washington'
          = check_box_tag "newsletter_subscriber[job_location][]", 'usa_washington'
        .row
          = form.label 'Texas'
          = check_box_tag "newsletter_subscriber[job_location][]", 'usa_texas'

      #category-wrapper
        .row
          = form.label 'Hacker'
          = check_box_tag "newsletter_subscriber[job_category][]", 'hacker'
        .row
          = form.label 'Hustler'
          = check_box_tag "newsletter_subscriber[job_category][]", 'hustler'
        .row
          = form.label 'Designer'
          = check_box_tag "newsletter_subscriber[job_category][]", 'designer'

      #subscribe-area
        .row= form.email_field :email, :placeholder => 'Email'
        .row#subscribe-btn= form.submit 'Subscribe!'

      #footer

- content_for :javascript do
  :javascript
    $(document).ready(function() {
      $(':checkbox').iphoneStyle()
    });
