!!!
%html
  %head
    %title AceInterns
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => "description", :content => "AceInterns - We connect you with awesome internships. Let us know about what interests you; we'll aggregate job postings that match your preferences. You receive a newsletter of awesome tech internships tailored just for you."}
  %body#hn_jobs
    = yield :jobs
  = yield :javascript